modules = ["nodejs-20", "web", "bash", "postgresql-16"]

  [deployment]
  router = "application"
deploymentTarget = "autoscale"
run = ["bash", "scripts/start-production.sh"]
build = ["bash", "scripts/build-production.sh"]

  [deployment.postBuild]
  args = ["pnpm", "store", "prune"]
  env = { "CI" = "true" }

[workflows]
runButton = "Jatek Driver"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Jatek Driver"

[[workflows.workflow]]
name = "Jatek Driver"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/jatek-driver run dev"
waitForPort = 8081

[workflows.workflow.metadata]
outputType = "console"

  [agent]
  stack = "BEST_EFFORT_FALLBACK"
expertMode = true
  integrations = ["twilio:1.0.0"]

  [postMerge]
  path = "scripts/post-merge.sh"
  timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8090
externalPort = 5000

[[ports]]
localPort = 18244
externalPort = 3000

[[ports]]
localPort = 18245
externalPort = 4200

[[ports]]
localPort = 19167
externalPort = 3001

[[ports]]
localPort = 25896
externalPort = 3002

[[ports]]
localPort = 25897
externalPort = 5173

  [nix]
channel = "stable-25_05"
  packages = ["eas-cli", "unzipNLS"]

  [userenv]

  [userenv.shared]
VAPID_PUBLIC_KEY = "BLvX52wA4BwrhPabN3D4gcmgP-FR8mZOOZs9S-fPW9jQ8PUp7xqG8mCfelF9DPBBAdSYBHANTIv1W5LPlxMra_g"
VAPID_SUBJECT = "mailto:admin@jatek.ma"

  [userenv.development]
INFOBIP_WA_SENDER = "+44 7860 088970"
  EXPO_PUBLIC_DOMAIN = "ma.jatek.app"
EXPO_PUBLIC_PROJECT_ID = "2437ecfc-9682-4b07-9eaa-77f6206b4714"

  [userenv.production]
INFOBIP_WA_SENDER = "+44 7860 088970"
  EXPO_PUBLIC_DOMAIN = "ma.jatek.app"
ALLOWED_ORIGINS = "https://c242aedf-c2ef-40b5-8095-e3992aa34a14-00-1y412fgtbqgy8.kirk.replit.dev,https://ma.jatek.app"
EXPO_PUBLIC_PROJECT_ID = "2437ecfc-9682-4b07-9eaa-77f6206b4714"

  [objectStorage]
defaultBucketID = "replit-objstore-8704654f-aa76-44a5-b41a-a7756da5392c"
